---
import { socials } from "../../data/socials";
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section id="socials">
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Contactame a través de mis redes sociales
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <a href={socials[0].url} target="_blank" id="instagram_button">
                <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                    <img src="/logos/instagram.svg" width="100" height="60" alt="instagram" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
                </div>
            </a>
            <a href={socials[1].url} target="_blank" id="linkedin_button">
                <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                    <img src="/logos/linkedin.svg" width="100" height="60" alt="linkedin" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
                </div>
            </a>
            <a href={socials[2].url} target="_blank" id="whatsapp_button">
                <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                    <img src="/logos/whatsapp.png" width="100" height="60" alt="whatsapp" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
                </div>
            </a>
            <a href="https://www.tiktok.com/@lafonosocialkids" target="_blank"id="spotify_button">
                <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                    <img src="/logos/tik_tok.svg" width="100" height="60" alt="spotify" class="h-6 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
                </div>
            </a>
        </div>
    </Container>
</section>