---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Social Kids | Fonoudiología a domicilio",
  description:
    "SocialKids | Terapias fonoaudiológicas a domicilio en Santiago para niños con trastornos de lenguaje, habla y voz, incluyendo autismo y síndrome de Down.",
    canonicalURL: "https://socialkids.cl",
    image: "/images/logo.png",
};
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <h1 class="fade-in">Social Kids | Fonoudiología a domicilio</h1>
      <p class="fade-in">
        ¡Pronto Fonoudiología a domicilio con Social Kids para niños con problemas de lenguaje, habla y
        voz!
      </p>
    </article>
  </Container>
</Layout>
